<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <div class="view">
      <img id="stand" src="dataset/stand/stand1.jpg" width="300" height="300">
      <img id="sit" src="dataset/sit/sit1.jpg" width="300" height="300">
      <img id="lay" src="dataset/lay/lay1.jpg" width="300" height="300">
      <img id="test" src="dataset/test/test1.jpg" width="300" height="300">
    </div>
    <div class="buttons">
      <button type="button" id="train">Train</button>
      <button type="button" id="guess">Guess</button>
      <button type="button" id="save">Save</button>
    </div>

  </body>
  <script src="ml5.min.js"></script>
  <script src="jquery.js"></script>
  <script src="main.js"></script>
</html>
